<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>左侧部分</title>
    <import type="css" file="Css.style" />
    <import type="css" file="Js.diashow.skins.css.diashow" />
    <import type="js" file="Js.jquery-1#8#2#min"/>
    <import type="js" file="Js.diashow.diashow"/>
    <script type="text/javascript">
        var ROOT = "__ROOT__";
        var APP = "__APP__";
        var MODULE = "__MODULE__";
    </script>
</head>

<body>

<form action="" method="post">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">管理菜单</a></li>
        </ul>
    </div>
</form>
</body>
</html>